// CDN jQuery, Angular, Sockets
script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js")
script(src="https://cdn.socket.io/socket.io-1.3.4.js")
// Angular main app
script(src="/js/app.js")
// Angular services
script(src="/js/services/apiurlService.js")
// Angular factories
script(src="/js/factories/motdFactory.js")
script(src="/js/factories/chatFactory.js")
script(src="/js/factories/employeeFactory.js")
script(src="/js/factories/socketFactory.js")
// Angular directives
script(src="/js/directives/draggableDirective.js")
script(src="/js/directives/droppableDirective.js")
script(src="/js/directives/scrollBottomDirective.js")
// Angular controllers
script(src="/js/controllers/motdController.js")
script(src="/js/controllers/layoutController.js")
script(src="/js/controllers/chatController.js")
script(src="/js/controllers/employeeController.js")
script(src="/js/controllers/customerController.js")
script(src="/js/controllers/categoryController.js")
// Bootstrap
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
// jQuery dom manipulation
script(src="/js/main.js")
