extends ../layout/layout

block content
    h1= "SNS chat web client"
    div.row(ng-controller="chatController as chtctrl" ng-init="chtctrl.initialize('#{user}')")
      // start chat-list panel
      div.col-md-4
        div.panel.panel-default.chatlist
          div.panel-heading
            span.glyphicon.glyphicon-list
            |Chats
            button.pull-right.btn.btn-md.btn-send.allchatbtn
              span.glyphicon.glyphicon-plus.allchatplusbtn
          div.panel-body.chat(droppable drop="handleDrop")
            ul
              li.chat-list-item.clearfix.deletehide(ng-repeat="chat in chats.chats", data="{{chat._id}}", ng-click="click(chat._id)")
                span.chat-img.pull-left
                  img(src="http://placehold.it/50/1D9DE8/fff", alt="User Avatar", class="img-circle")
                div.header
                  strong.primary-font
                    | {{chat.customer.name}} -
                    small
                      | {{chat.category.name}}
                button.btn.btn-danger.pull-right(ng-click="leaveChat(chat._id)")
                  | Leave
                small
                  | {{chat.messages[chat.messages.length-1].text | limitTo: 60}}{{chat.messages[chat.messages.length-1].text.length > 60 ? '...' : ''}}

      // end chat-list panel

      div.col-md-4.hide.allchatpanel
        div.panel.panel-default.chatlist
          div.panel-heading
            span.glyphicon.glyphicon-list
            | All Chats
          div.panel-body.chat
            ul
              li.chat-list-item.clearfix.draggable(ng-repeat="chat in allchats", id="{{chat._id}}",  item="{{chat._id}}" draggable)
                span.chat-img.pull-left
                  img(src="http://placehold.it/50/30a5ff/fff", alt="User Avatar", class="img-circle")
                div.header
                  strong.primary-font
                    | {{chat.customer.name}} -
                    small
                      | {{chat.category.name}}
                  br
                  small
                    | {{chat.messages[chat.messages.length-1].text | limitTo: 60}}{{chat.messages[chat.messages.length-1].text.length > 60 ? '...' : ''}}
      // chat panel
      div.col-md-8.chatpanel
        div.panel.panel-default.chat
          div.panel-heading#accordion
            span.glyphicon.glyphicon-comment
            |Chat {{chat.employees[0].username}} - {{chat.customer.name}}
          div.panel-body(schroll-bottom="chat.messages")
            ul
              // chat message
              li.clearfix(ng-repeat="messages in chat.messages", ng-class="empclass(messages.employee)")
                span.chat-img(ng-class="pullempclass(messages.isEmployee)")
                  img(src="http://placehold.it/80/1D9DE8/fff", alt="User Avatar", class="img-circle")
                div.chat-body.clearfix
                  div.header
                    strong.primary-font(ng-class="pullempclass(messages.isEmployee)")
                      | {{messages.user.name}} {{messages.employee.name}}
                    // | {{messages.userId}}
                    //  | {{getuser(messages.userId, messages.employee)}}
                    small.text-muted
                      | {{messages.timeStamp | date:'medium'}}
                  p(ng-class="pullempclass(messages.isEmployee)")
                    | {{messages.text}}
              // end chat message
          div.panel-footer
            div.input-group
              form.input-group(ng-submit="submitMessage(chat._id)")
                input(id="btn-input", type="text", class="form-control input-md", placeholder="Type your message here...", name="sendMessage", ng-model="textmessage" )
                span.input-group-btn
                  button.btn.btn-send.btn-md#btn-chat(type="submit" ng-click="apply()")
                    | Send
      // end chat panel
