extends ../layout/layout

block content
    h1
      | Employees
    div.row(ng-controller="employeeController")
      // start Employee-list panel
      div.col-md-4
        div.panel.panel-default.chatlist
          div.panel-heading
            span.glyphicon.glyphicon-list
            | Employees
          div.panel-body.chat
            ul
              li.chat-list-item.clearfix.deletehide(ng-repeat="employee in employees" ng-click="setCrudEmployee(employee._id)")
                span.chat-img.pull-left
                  img(src="http://placehold.it/50/30a5ff/fff", alt="User Avatar", class="img-circle")
                div.header
                  strong.primary-font
                    | {{employee.username}}
                  br
                button.btn.btn-danger.pull-right(ng-click="deleteEmployee(employee._id)")
                  | Delete
          div.panel-footer
            button.btn.btn-send(ng-click="newEmployee()")
              span.glyphicon.glyphicon-plus
              |  New
      // end Employee-list panel


      div.col-md-8
        div.panel.panel-default
          div.panel-heading
            span.glyphicon.glyphicon-user
            | {{isNew()}} Employee
          div.panel-body.employeecrud
            form.input-group(ng-submit="submitEmployee()")
              div.input-group
                label
                  | Username
                input.form-control(name="employee.username", type="text", ng-model="employee.username" required)
                br
                label
                  | Password
                input.form-control(name="employee.password", type="password", ng-model="employee.password" required)
              button.btn.btn-send(type="submit" ng-click="apply()")
                | Send
