<!DOCTYPE html>
<html ng-app="snsChat">

<head>
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <base href="/">
</head>

<body ng-controller="layoutController as lytctrl" ng-init="lytctrl.initialize()">
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#sidebar-collapse" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="favicons.png" class="pull-left" /><span>SNS</span>admin</a>
                <ul class="user-menu">
                    <li class="dropdown pull-right"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"> {{user.username}}<span class="caret"></span></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out">Logout</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="sidebar-collapse" class="sidebar">
        <ul class="nav menu">
            <li><a href="#/">Home<span class="glyphicon glyphicon-home pull-right"></span></a>
            </li>
            <li><a href="#/chat">Chat<span class="glyphicon glyphicon-comment pull-right"></span></a>
            </li>
            <li><a href="#/employees">Employees<span class="glyphicon glyphicon-user pull-right"></span></a>
            </li>
            <li><a href="#/customers">Customers<span class="glyphicon glyphicon-user pull-right"></span></a>
            </li>
            <li><a href="#/categories">Categories<span class="glyphicon glyphicon-user pull-right"></span></a>
            </li>
            <li><a href="#/faq">FAQ<span class="glyphicon glyphicon-user pull-right"></span></a>
            </li>
        </ul>
    </div>

    <div class="main" ui-view></div>

    <div class="notifications">
        <div class="notification" ng-repeat="alert in alerts" href="{{alert._id}}" id="{{alert._id}}" employee="{{alert.EmployeeID}}">
            <div class="notificationtitle" ng-click="goToChatFromAlert(alert)">
                {{alert.senderName}}
            </div>
            <div class="notificationclose" ng-click="closeNotification(alert, alerts)">
                [X] CLOSE
            </div>
            <div class="notificationbody" ng-click="goToChatFromAlert(alert)">
                {{alert.message}}
            </div>
        </div>
    </div>

    <!-- CDN jQuery, Angular, Sockets-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <!-- Angular main app-->
    <script src="/js/app.js"></script>
    <!-- Angular services-->
    <script src="/js/services/apiurlService.js"></script>
    <!-- Angular factories-->
    <script src="./js/factories/loginFactory.js"></script>
    <script src="/js/factories/motdFactory.js"></script>
    <script src="/js/factories/chatFactory.js"></script>
    <script src="/js/factories/employeeFactory.js"></script>
    <script src="/js/factories/socketFactory.js"></script>
    <!-- Angular directives-->
    <script src="/js/directives/draggableDirective.js"></script>
    <script src="/js/directives/droppableDirective.js"></script>
    <script src="/js/directives/scrollBottomDirective.js"></script>
    <!-- Angular controllers-->
    <script src="/js/controllers/motdController.js"></script>
    <script src="/js/controllers/layoutController.js"></script>
    <script src="./js/controllers/authorizationController.js"></script>
    <script src="/js/controllers/chatController.js"></script>
    <script src="/js/controllers/employeeController.js"></script>
    <script src="/js/controllers/customerController.js"></script>
    <script src="/js/controllers/faqController.js"></script>
    <script src="/js/controllers/categoryController.js"></script>
    <!-- Bootstrap-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- jQuery dom manipulation-->
</body>

</html>
